@import "_vars_mixins.scss";
//Header -- has it's own scss file(_header.scss)

/*  Top Slider Section -start*/
div.section-inner{
    width:100%;
    min-width: 1600px;
    margin:0 auto;
  div.slider-txt{
    position:absolute;
    margin-top:-32%;
    z-index:10;
    p.title{
      font-size:110px;
      color:#fff;
      @include f-light;
    span{
      color:#293a4e;
      @include f-bold;
    }
    }
    p.text{
      font-size:45px;
      color:#fff;
      @include f-light;
      margin-bottom: 12%;
    }
    a.button{
      width: 178px;
      height: 52px;
      padding: 12px 30px;
      font-size: 18px;
    }
    a.button-right{
      background-color: #293a4e;
      color:#fff;
      margin-left:7.5%;
    }
    a.button-left{
      border: 2px solid black;
      color: #293a4e;
      @include f-medium;
      background-color: rgba(0,0,0,0);
    }
  }
  .experience-img{
    position: absolute;
    top: 60%;
    z-index: 10;
    left: 4.4%;

  }
}
  /*  Top Slider Section - Media query's -start*/

  /*  Top Slider Section - Media query's -end*/

/*  Top Slider Section -end*/


/*  Service Section - start*/
section.services{
  margin:0 auto;
  .service-container{
    text-align: right;
    padding: 30px 45px;

    .row{
      background: white;
      div.service{
        max-width: 100%;
        position:relative;
        display: inline-block;
        height:300px;
        text-align: center;
        transition: 0.5s ease-in;
        div.txt{
          position: absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
          span.title{
            font-size:36px;
            color:white;
            @include f-bold;

          }
          a{
            display: block;
            color:#bed7ea;
            font-size:18px;
          }
          a:hover{
            text-decoration: none;
          }
        }
      }

    }
  }
}
/*  Service Section - end*/

/*  Info Section -START*/
section.info{
  background:url('../images/background-info-section.png');
  background-size:cover;

  .container-fluid{
    background: #ffffff;
    text-align: right;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 75%;
    position:relative;
    display: flex;
    overflow:visible;

    .right{

      width: 20%;
      position: relative;
      margin-right: 20px;
      margin-top: 50px;
      margin-left: 20px;
      img{
        float:right;
        display:inline-block;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
      }
    }
    .left{

      width: 75%;
      padding-left: 40px;
      padding-top: 60px;
      margin-bottom: 60px;
      margin-left: 15px;
      h2{
        display: block;
        font-size:36px;
        @include f-regular;
        span{
          @include f-bold;
        }
      }
      p{
        font-size:18px;
        display: inline;
        span.bold{
          @include f-bold;
          display: inline-block;
          margin-bottom: 25px;
        }
        span.smaller{
          line-height:22px;
          display: inline-block;

        }
        span{
          //line-height:130%;
          //position: absolute;
          //width:50%;
        }
      }
      div.props{
        text-align:center;
        display: inline;
        span{
          margin-left:10px;
          margin-right:10px;
        }
        span::before{
          content: url('../images/small-red-v.png');
          margin-left: 5px;
          vertical-align: sub;
        }
      }

    }
    .continue-reading{
      background:#293a4e;
      color:white;
      border:none;
      outline:none;
      font-size:18px;
      @include f-medium;
      padding: 15px 30px;
      position: absolute;
      bottom:-22.5px;
      left:50%;
      transform:translateX(-50%);
      cursor: pointer;
    }
  }

}
/*  Info Section -END*/

/* Department Section -START*/
section.departments{
  background: #ffffff;
  margin-bottom:100px;
  .container-fluid{
      width:75%;
      text-align:right;
    div.txt{
      margin-top: 100px;
      margin-bottom: 100px;
      h2{
        font-size:36px;
        //margin-right:15px;
        @include f-regular;
        span{
          @include f-bold;
        }
      }
      p{
        font-size:18px;
        //margin-right:15px;
      }
    }
    div.row{
      .department{
        div.content{
          background: #bed7ea;
          margin-bottom: 100px;
          padding: 40px 20px;
        }
        h4{
          font-size:22px;
        }
        p{
          font-size:18px;
          line-height: 1.2;
        }
        div.img-cont{
          background-image: url("../images/department-circle.png");
          width: 100px;
          height: 100px;
          position: absolute;
          top: -50px;
          left: 50px;
          background-repeat: no-repeat;
          transition: 0.25s ease-in;
          img{
            position: absolute;
            top:47%;
            left:47%;
            transform:translate(-50%,-50%);
          }
        }
        div.img-cont:hover{
          background-image: url("../images/department-circle-hover.png");

          border-radius:100px;
        }
      }
    }
  }
}

/* Department Section -END*/

/* News Section -START*/
section.news{
  background:url('../images/background-info-section.png');
  background-size: cover;
  background-repeat: no-repeat;
  .container-fluid{
    width:75%;
    text-align:right;
    margin-bottom: 150px;
    .txt{
      margin-top:100px;
      margin-bottom:100px;
      h2{
        @include f-regular;
        font-size:36px;
        span{
          @include f-bold;
        }

      }
      p{
        font-size:18px;
      }

    }
    .updates{
      .row{
        .update{
          .content{
            background: #ffffff;
            padding: 30px 20px;
            margin-bottom: 100px;
            padding-bottom: 50px;
            position: relative;
            h4{
              @include f-bold;
              font-size:24px;
            }
            p{
              @include f-regular;
              font-size:18px;
            }
            a{
              div.button{
                background-image: url("../images/blue-box-news.png");
                background-size:contain;
                background-repeat: no-repeat;
                height:50px;
                transition: 0.5s ease-out;
                position: absolute;
                bottom: -12%;
                left: 8%;
                width: 50px;
              }
              div.button:hover{
                background-image: url("../images/red-box-news.png");
                height:60px;
                width: 60px;
              }
            }
          }
        }
      }
    }
    .more-updates{
      text-align: center;
      button{
        border:none;
        outline:none;
        color:white;
        background:#293a4e;
        padding: 15px 30px;
        //margin-bottom: 300px;
        cursor: pointer;
      }
    }
  }
}
/* News Section -END*/
/* Footer -Start*/
footer{
  position: relative;
  text-align:center;
  background: #293a4e;
  .container-fluid{
  position: relative;
    .form{
      position: absolute;
      background: white;
      width:75%;
      top: -95px;
      left:50%;
      transform:translateX(-50%);
      z-index: 99999;
      .form-box{
        h2#form-title{
          margin-top:40px;
          font-size:36px;
          @include f-regular;
          span{
            @include f-bold;
          }
        }
        p.form-p{
          font-size:18px;
          margin-bottom: 40px;
          @include f-regular;
        }
        div.wpcf7{
          form{
            span{
              margin-left: 25px;
              margin-right: 25px;
              input{
                font-size:18px;
                @include f-regular;
                border:none;
                border-bottom:1px solid black;
                width: 25%;
                //transition: 1s ease-in;
                outline: none;
              }
              input:focus{
                @include f-medium;
                border-bottom:3px solid black;
              }
            }
            input#send_btn{
              position: absolute;
              bottom: -20px;
              left: 50%;
              transform: translateX(-50%);
              border: none;
              outline: none;
              padding: 5px 35px;
              color: white;
              background:url("../images/form-submit.png") no-repeat;
              background-size:cover;
              cursor:pointer;

            }
          }
        }

      }
    }
    .cats{
      padding-top: 300px;
      padding-bottom: 100px;
      display: flex;
      justify-content: space-between;
      color:white;
      font-size: 18px;
      text-align: right;

      width:75%;
      transform: translateX(-17%);
      .sitemap{
        h4{

        }
        a{
          display: block;
          color:white;
          text-decoration: none;
        }
      }
      .catalog{
      h4{

      }
        a{
          display: block;
          color:white;
          text-decoration: none;
        }
      }
      .contact-us{
        h4{

        }
        div{
          span{
            display: inline-block;
            @include f-bold;

          }
          p{
            display: inline-block;
            @include f-regular;
          }
        }
      }
      .working-hours{
        h4{

        }
        div{
          span{
            display: inline-block;
            @include f-bold;
          }
          p{
            display: inline-block;
            @include f-regular;
          }
        }
      }
    }
  }
  .foot{
    height:75px;
    .container-fluid{
      display: flex;
      justify-content: space-between;
      border-top:1px solid #525f6f;
      .logo{
        position: absolute;
        text-align: right;
        top: 50%;
        transform: translateY(15%);
          img.footer-email-logo{
            margin-left: 5px;
            position: relative;
            top: 7px;
          }
          text-align: right;
          img.footer-nimrod-logo{
            //position: absolute;
            //top: 15%;
            //right: 75px;
            //transform: translateY(50%);
          }
          span{
            position: absolute;
            font-size: 15px;
            right: 57px;
            color: white;
            top: 35px;
          }
      }
      .credit{
        position: absolute;
        transform: translateY(80%);
        left:0;
        right:0;
        color:white;
        font-size:18px;
      }
      .credit-extra{
        position: absolute;
        left:0;
        color:white;
        font-size:18px;
        transform: translateY(80%);
      }
    }

  }
}
/* Footer -END*/